<div class="container-fluid">
    <form>
        <div class="form-group" (ngSubmit)="rechercher(nomSaisi.value)">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <label for="recherheNom">Recherche par nom : </label>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <input class="form-control" type="text" name="rechercheNom" id="rechercheNom" #nomSaisi placeholder="Marty" required>
                    <small class="form-text text-muted"><em>Les noms commencent par une majuscule</em></small>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <div class="container-fluid" *ngIf="message === undefined">
        <ul *ngFor="let matricule of matriculeList">
            <li><button class="btn btn-link" (click)="afficherCollegue(matricule)">{{ matricule }}</button></li>
        </ul>
    </div>
    <div *ngIf="message">
        <p><strong>{{ message }}</strong></p>
    </div>
</div>