<div class="container" *ngIf="collegue">
    <div class="card">
        <div class="card-header">
            <h2>{{ collegue.nom | uppercase }} {{ collegue.prenoms }}</h2>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="{{ collegue.photoUrl }}" alt="{{ collegue.nom }} {{ collegue.prenoms }}" />
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            Matricule :
                        </div>
                        <div class="col-sm-6">
                            {{ collegue.matricule }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Nom :
                        </div>
                        <div class="col-sm-6">
                            {{ collegue.nom | uppercase }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Prénoms :
                        </div>
                        <div class="col-sm-6">
                            {{ collegue.prenoms }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Date de naissance :
                        </div>
                        <div class="col-sm-6">
                            {{ collegue.dateDeNaissance | date: 'dd/MM/yyy' }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            Email :
                        </div>
                        <div class="col-sm-6">
                            {{ collegue.email }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="card-footer text-center">
            <button routerLink="/galerie" class="btn btn-primary">
				Retour
			</button>
        </div>
    </div>
</div>
<br>
<div class="container">
    <form class="form-group" #form="ngForm">
        <div class="form-group">
            <textarea class="form-control mb-4" name="comment" id="comment" rows="5" minlength="5" #comment="ngModel" [(ngModel)]="newComment.contenu" required (keydown.enter)="saveNewComment()" placeholder="Ici on peut prendre des notes sur un collègue. Appuyez sur la touche entrée pour valider"></textarea>
            <div class="alert alert-danger" *ngIf="(comment.dirty || comment.touched) && comment.invalid">
                Le champ doit contenir un commentaire d'au moins 5 caractères
            </div>
            <div class="alert alert-danger text-center" *ngIf="message">
                <p><strong>{{message}}</strong></p>
            </div>
            <div class="alert alert-success text-center" *ngIf="messageOk">
                <p><strong>{{messageOk}}</strong></p>
            </div>
            <!-- <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Valider</button> -->
        </div>
    </form>
</div>
<br>
<div class="container">
    <h2>Commentaires précédents : </h2>
    <hr>
    <div *ngFor="let commentaire of commentaires">
        <app-commentaire [commentaire]="commentaire" [collegue]="collegue" (event)="updateList($event)"></app-commentaire>
    </div>
    <hr>
</div>