<div id="fontDiv" style="text-align:center" class="jumbotron">
    <h1 class="display-1">
        {{title}}
    </h1>
</div>
<div class="d-flex justify-content-center">
    <app-menu-component (deco)="deconnexion($event)"></app-menu-component>
</div>
<div class="container-fluid">
    <h5 class="float-right" *ngIf="user != null">Vous êtes connecté {{ user.nom | uppercase}} {{ user.prenoms }}</h5>
</div>
<br>
<router-outlet></router-outlet>
<script type="text/javascript" src="../node_modules/ghspa/ghspa.js"></script>