<div id="fontDiv" style="text-align:center" class="jumbotron">
    <h1 class="display-1">
        {{title}}
    </h1>
</div>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h2>Recherche par nom : </h2>
            <hr>
            <app-recherche-par-nom (eventRecherche)="rechercheParNom()"></app-recherche-par-nom>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h2>Liste des collègues : </h2>
            <hr>
            <div class="container-fluid">
                <div class="card mb-4" *ngFor="let col of colleguesArray">
                    <app-collegue [col]=col (messageCreation)="afficherMessage($event)" (messageModif)="afficherMessage($event)"></app-collegue>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<br>